* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微軟正黑體";
}
.pc {
    display: block !important;
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}
.mb {
    display: none !important;
    @media screen and (max-width: 768px) {
        display: block !important;
    }
}

// 引入 '分枝名稱'
@import "page/nav"; // 導覽列
@import "page/swiper"; // 輪播
@import "page/product"; // 產品
