nav {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    align-items: center;
    padding: 20px 20px;
    background: rgba(#ccc, 0.8);
    box-shadow: 0 3px 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 10;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    .navTitle {
        span {
            margin: 0 15px;
        }
    }
    .navIcon {
        text-align: center;
        a {
            text-decoration: none;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
    .menu {
        @media screen and (max-width: 768px) {
            text-align: right;
        }
    }
}

// 手機版選單
.openMenu {
    position: fixed;
    // 背景預設值
    right: -100%;
    opacity: 0;

    width: 100%;
    height: 100%;
    background: rgba(#ccc, 0.7);
    z-index: 50;
    transition: all 0.5s;
    .MenuData {
        width: 75%;
        height: 100%;
        background: #fff;
        position: absolute;
        // 預設值
        right: -100%;
        padding: 20px;
        transition: all 0.5s;
        .close {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .MenuList {
            margin-top: 20vw;
            div {
                margin-bottom: 20px;
                border-bottom: 1px solid #ccc;
                text-align: center;
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 20px;
                }
            }
        }
        .MenuIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}

.RightStart {
    right: 0% !important;
}
.RightBack {
    right: -100% !important;
}
.pointNone {
    pointer-events: none !important;
}
