nav {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    align-items: center;
    padding: 20px 20px;
    background: rgba(#ccc, 0.8);
    box-shadow: 0 3px 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 10;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    .navTitle {
        span {
            margin: 0 15px;
        }
    }
    .navIcon {
        text-align: center;
        a {
            text-decoration: none;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
    .menu {
        @media screen and (max-width: 768px) {
            text-align: right;
        }
    }
}
